
[Desktop Entry]
Version=1.0
Name=jdztao.com(ssh)
Comment=ssh jdzcn.com
Exec=ssh root@jdztao.com

Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;TerminalEmulator;
